<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 style="font-style: italic; font-size: large;">Police  Sign-Up</h1>
                    <h5>POLICE COMPLANTE</h5>
                    <hr>
                    <br>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input formControlName="name" placeholder="enter your good name" type="text" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label  class="form-label">Mobile Number</label>
                        <input formControlName="mobile" placeholder="enter your best mobile number" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                 
                    <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        <input formControlName="email" placeholder="enter your best Email id" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
  
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input formControlName="password" type="password" placeholder="enter your strong Password" class="form-control" id="exampleInputPassword1">
                    </div>
               
                    <button type="submit"  class="btn btn-primary">SignUp</button>
                    <br>
                    <a routerLink="/login">Old user? Click to Login!</a>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- time 01:13:44 -->
