


<div class="main">  	
  <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="signUpObj.userName">
        <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="signUpObj.email">
        <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="signUpObj.password">
        <button (click)="OnSignUp()">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="userName" placeholder="User name" required="" [(ngModel)]="loginObj.userName">
        <input type="password" name="password" placeholder="Password" required="" [(ngModel)]="loginObj.password">
        <button (click)="OnLogin()">Login</button>
      </form>
    </div>
</div> 

