<div class="container">
    <div class="title">
        <span>My Portfolio  </span>
    </div>

    <div class="name">
        <span>
            <span>Hi, </span> I am
        </span> <br>
        <span>jack jens</span><br>
        <span>Software Developer</span>
    </div>

    <div class="portfolio">
        <div class="portfolio-bg">
            <img src="" alt="">
        </div>
    </div>
</div>



<!-- <button (click)="changeBackgroundColor()" >Change Background Color</button>
<div [style.background-color]="backgroundColor"></div> -->



