<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/book-list">Show Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-book">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About </a>
        </li>
      </ul>
      <span class="navbar-text text-bold">
        All books ever
      </span>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">BOOKS SHOP</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<router-outlet></router-outlet>
<!-- 40 min left -->