<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Police login</h1>
                    <h5>Police station login </h5>
                    <hr>
                    <br>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="loginIn()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" type="email" placeholder="enter your Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" placeholder="enter your password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <!-- <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit"  class="btn btn-primary">Login</button>
                  </form>
                  <br>
                  <a routerLink="/signup">New user? Click to SignUp!</a>
            </div>
        </div>
    </div>
</div>
<!-- time 01:13:44 -->