<mat-card>
    <form action="" (submit)="onPostData(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input type="text" matInput name="title" placeholder="Post title here" required
             ngModel >
        </mat-form-field>

        <mat-form-field>
            <textarea matInput name="content"  rows="10"  placeholder="Post Content"
            ngModel required > post Content
            </textarea>
        </mat-form-field>
        
        <button mat-raised-button color="accent" type="submit">Save Post</button>
        <br>
        <br>
    </form>
</mat-card>
<app-postlist></app-postlist>
