<mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let data of posts">
        <mat-expansion-panel-header class="title">
         {{data.title}}
        </mat-expansion-panel-header>
        <p class="content">{{data.content}}</p>
        <mat-action-row>
            <p class="date">{{data.dataTime | date: 'MMM d, y, h:mm:ss a'}}</p>
            <button mat-button color="primary">    <mat-icon>edit</mat-icon> </button>&nbsp;
            <button mat-button color="primary"><mat-icon>delete</mat-icon></button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<h4 *ngIf="posts.length<=0">No Post Avaialble !</h4>
